@charset "UTF-8";

*{
    margin: 2px;
    padding: 5px;
}
body{
    background: #04046e;
    font: normal 15pt arial;
}
header{
    color: white;
    text-align: center;
}
section{
    background: white ;
    border-radius: 10px;
    max-width: 600px;
    margin: auto;  
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.404); 
    padding: 20px;

}
footer{
    color: white;
    text-align: center;
}
#foto{
    width: 300px;
}