@charset "UTF-8";

body{
    font: normal 15pt arial;
    background-color: blue;
}
header{
    color: white;
    text-align: center;
}
section{
    background: white ;
    border-radius: 10px;
    max-width: 800px;
    height: auto;
    margin: auto;  
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.404); 
    padding: 20px;
    text-align: left;
}

#res{
    display: block;
    width: 200px;
    margin: 15px;
    text-align: start;
}
#cal{
    margin: 5px 15px;
}

footer{
    color: white;
    text-align: center;
}